* {
    box-sizing: border-box;
}

body {
    margin: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper div {
    background-color: white;
    padding: 1em;
}

.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}

.nested div {
    border: #333 1px solid;
    padding: 1em;
}

#red {
    background: red;
}

#yellow {
    background-color: yellow;
}

#brown {
    background-color: brown;
}